<div *ngIf="product.payload.val().title" class="card">
    <!--  style="width: 25rem;" -->
    <img [src]="product.payload.val().imageUrl" class="card-img-top" alt="{{ product.payload.val().title }}"
        *ngIf="product.payload.val().imageUrl">
    <div class="card-body">
        <h5 class="card-title">{{product.payload.val().title}}</h5>
        <p class="card-text">{{product.payload.val().price | currency :'USD':true}}</p> 
    </div>
    <div *ngIf="showActions" class="crad-footer">
        <button (click)="addToCart(product)" class="btn btn-primary btn-block"> Add to cart </button>
        <div>{{ getQuantity() }}</div>
    </div>
</div>