<div *ngIf="product.payload.val().title" class="card">
    <!--  style="width: 25rem;" -->
    <img [src]="product.payload.val().imageUrl" class="card-img-top" alt="{{ product.payload.val().title }}"
        *ngIf="product.payload.val().imageUrl">
    <div class="card-body">
        <h5 class="card-title">{{product.payload.val().title}}</h5>
        <p class="card-text">{{product.payload.val().price | currency :'USD':true}}</p> 
    </div>
    <div *ngIf="showActions"  class="crad-footer">
        <button 
            *ngIf="getQuantity()==0; else updateQuantity"
            (click)="addToCart()" 
            class="btn btn-primary btn-block">
                Add to cart 
        </button>
        <ng-template #updateQuantity>
            <div class="row no-gutters">
                <div class="col-2">
                    <button (click)="removeFromCart()" class="btn btn-primary btn-block">-</button>
                </div>
                <div class="col text-center">{{ getQuantity() }} in cart</div>
                <div class="col-2">
                    <button (click)="addToCart()" class="btn btn-primary btn-block">+</button>
                </div>
            </div>
            
        </ng-template>
        
    </div>
</div>