<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a 
            *ngFor="let c of categories$ | async" 
            routerLink="/"
            [queryParams]= "{category: c.key}"
            class="list-group-item list-group-item-action"
            [class.active]="category==c.key">
                {{c.payload.val().name}}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i=index">
                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img [src]="p.payload.val().imageUrl" class="card-img-top" alt="Img cap">
                        <div class="card-body">
                            <h5 class="card-title">{{p.payload.val().title}}</h5>
                            <p class="card-text">{{p.payload.val().price | currency :'USD':true}}</p>
                            <a href="#" class="btn btn-primary"> Add to cart </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="(i+1)%2===0" class="w-100"></div>
            </ng-container>   
        </div>        
    </div>
</div>


